In [1]:
#List of High Schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools: 
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [19]:
# A dictionary of high schoools and the type of high school 

high_school_types = [{"High School": "Griffin", "Type": "District"}, 
                    
                    {"High School": "Figueroa", "Type": "District"}, 
                    {"High School": "Wilson", "Type" : "Charter"}, 
                    {"High School": "Wright", "Type": "Charter"}]

for school_type in high_school_types: 
    name = school_type.get("High School")
    sType = school_type.get("Type")
    
    print(f"{{High School: {name} , Type: {sType}}}")

{High School: Griffin , Type: District}
{High School: Figueroa , Type: District}
{High School: Wilson , Type: Charter}
{High School: Wright , Type: Charter}

In [30]:
#Add the Pandas Library 
import pandas as pd

# List of High Schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

for i in high_schools: 
    
    school_series = pd.Series(i)
    print(school_series)

0    Huang High School
dtype: object
0    Figueroa High School
dtype: object
0    Shelton High School
dtype: object
0    Hernandez High School
dtype: object
0    Griffin High School
dtype: object
0    Wilson High School
dtype: object
0    Cabrera High School
dtype: object
0    Bailey High School
dtype: object
0    Holden High School
dtype: object
0    Pena High School
dtype: object
0    Wright High School
dtype: object
0    Rodriguez High School
dtype: object
0    Johnson High School
dtype: object
0    Ford High School
dtype: object
0    Thomas High School
dtype: object

In [32]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [33]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
#Three separate lists of information on high schools 
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Fuguera High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [37]:
#Initalize data frame 
schools_df = pd.DataFrame()

In [39]:
#Add the list to a new DataFrame. 
schools_df["School ID"] = school_id



#Adds the school name and type of school in a new dataframe. 

schools_df["school_name"] = school_name

schools_df["type"] = type_of_school

#Prints the DataFrame
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1    Fuguera High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
#Create a dictionary of inforomation on high schools
high_schools_dict = {"School ID ": school_id, "school_name": school_name, "type": type_of_school}

pd.DataFrame(high_schools_dict)

   School ID             school_name      type
0           0      Huang High School  District
1           1    Fuguera High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter

In [41]:
schools_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [42]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [43]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [51]:
import pandas as pd

school_id = []

for i in range(0, 15):
    school_id.append(i) 
print(school_id)     

school_name = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "Dsitrict", "District", "Charter"]

high_schools = {"School ID": school_id, "school_name": school_name, "type": type_of_school}

school_df = pd.DataFrame(high_schools)

school_df

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  Dsitrict
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [11]:
#Add the Pandas depenedcy 
import pandas as pd 
import os 



school_data_to_load = "Resources/schools_complete.csv"
#or we can use os.path.join("Resources", "schools_complete.csv")

student_data_to_load = "Resources/students_complete.csv"
# or we can use os.path.join("Resources", "students_complete.csv")

In [12]:
# Read the school data file and store it in an Pandas Dataframe

school_data_df = pd.read_csv(school_data_to_load)

school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [14]:
#Read the student data and store it in a Pandas DataFrame 

student_data_df = pd.read_csv(student_data_to_load)

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75