In [1]:
# Import pandas
import pandas as pd 

# A list of grades 
my_grades = ['B', 'C', 'B', 'D']

In [2]:
# Convert the my_grades to a Series

my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [3]:
# Change the grade to one letter grade 

my_grades.map({'B': 'A', 'C': 'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [7]:
# Using the format() function. 

my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades: 
    print("{: .0f}", format(grade))

{: .0f} 92.34
{: .0f} 84.56
{: .0f} 86.78
{: .0f} 98.32

In [8]:
# Convert the numerical grades to a Series. 

my_grades = pd.Series([92.34,84.56, 86.78, 78.32])

my_grades

#Format the grades to the nearest whole number percent. 

my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object